[tool.ruff]
line-length = 90

[tool.ruff.lint]
select = ["E", "F"]

[tool.ruff.lint.isort]
lines-after-imports = 2

[tool.black]
line-length = 88

[[tool.mypy.overrides]]
ignore_missing_imports = true

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = [
    "ignore::DeprecationWarning",
	"ignore::UserWarning"
]
