name: "Build and Tests"

on:
  push:
    branches: [main]
    paths:
      - "**.py"
      - ".github/workflows/python.yml"
  pull_request:
    branches: [main]
    paths:
      - "**.py"
      - ".github/workflows/python.yml"
  release:
    types: [created]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Ruff
        run: |
          uv run ruff check jflux
      - name: Test with PyTest
        run: |
          uv run pytest -v -s .
